<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/css/base.css">
<head>
	<h2>About</h2>

</head>
<body>
	<br><br>
	<p>
		Thank you for visiting LafLocate!
	</p>
	<p>
		LafLocate was created in 2016 by Nathaniel Picard-Busky for the residents of Lafayette Hall at New York University.
	</p>
	<p>
		If you have any questions or suggestions, please contact lafayette.hall@nyu.edu .
	</p>


</body>


</html>