<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/css/base.css">


<div id="header-wrapper" >
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="index.html"><img src="media/laflogo.png" width="110" height="96" padding-left="2px"alt=""></a></h1>
			<span style="font-weight: bold;">LafLocate</span> </div>
		<div id="menu">
			<ul>
				{{homeactive}}<a href="/home">Home</a></li>
				<li><a href="/add-location">Add</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/login">{{user}}</a></li>
			</ul>
		</div>
	</div>
	
</div>

<div class="entry">

  
    {{{body}}}



  
</div>


</html>


