<!DOCTYPE html>
<html>


<div id="header-wrapper" >
  <div id="header" class="container">
    <div id="logo">
      <h1><a href="index.html"><img src="media/laflogo.png" width="110" height="96" padding-left="2px"alt=""></a></h1>
      <span style="font-weight: bold;">LafLocate</span> </div>
    <div id="menu">
      <ul>
        <li ><a href="/home">Home</a></li>
        <li><a href="/add-location">Add</a></li>
        <li><a href="/about">About</a></li>
        <li class="current_page_item"><a href="/login">Account</a></li>
      </ul>
    </div>
  </div>
  
</div>

<div class="entry">


<h2>Login</h2>
{{message}}
<form method="POST" action="">
<div>
	<label>username:</label> <input type="text" name="username">	
</div>
<br>
<div>
	<label>password:</label> <input type="password" name="password"> 
</div>
<br>
	<input type="submit">
</form>

<a href="/register">If you don't have an account, REGISTER here!</a>


</div>

</html>