<h2>Register</h2>
{{message}}
<form action="" method="POST">
<div>
	<label>Username:</label> <input type="text" name="username">
</div>
<br>
<div>
	<label>Password:</label> <input type="password" name="password">
</div>
<br><br>
<input type="submit" value="Register">
</form>

You will be redirected to the login page upon successful registration, once there, log in with your new account info!